
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    
}



@*<div ng-controller="showSearchController">
    <div class="container-fluid">
        <div class="list-category-post">
            <h1 class="title" ng-show="searchText.length > 0">Kết quả tìm kiếm cho <span style="font-weight: bold; font-style: italic;">"{{searchText}}"</span></h1>
            <h1 class="title" ng-show="!(searchText.length > 0)"><i>Xin lỗi! Kết quả tìm kiếm không tồn tại</i></h1>
            <div class="container-fluid">
                <h2 ng-show="products.length > 0">Sản phẩm ({{products.length}})</h2>
                <div class="col-md-6" ng-repeat="(index, value) in products">
                    <div class="child-post">
                        <a href="/san-pham/{{value.alias}}-{{value.idProduct}}" class="title-child-post"><img src="{{value.image}}" class="img-responsive" /></a>
                        <div class="text">
                            <a href="/san-pham/{{value.alias}}-{{value.idProduct}}">{{value.title}}</a> <br />
                            <div class="description">{{value.note | limitTo: 100}}{{value.note.length > 100 ? '&hellip;' : ''}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-category-post">
            <div class="container-fluid">
                <h2 ng-show="posts.length > 0">Bài viết ({{posts.length}})</h2>
                <div class="col-md-6" ng-repeat="(index, value) in posts">
                    <div class="child-post">
                        <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="title-child-post"><img src="{{value.image}}" class="img-responsive" /></a>
                        <div class="text">
                            <a href="/bai-viet/{{value.alias}}-{{value.idPost}}">{{value.title}}</a> <br />
                            <div class="description">{{value.description | limitTo: 100}}{{value.description.length > 100 ? '&hellip;' : ''}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div ng-controller="showSearchController">
    <h1 class="title" ng-show="searchText.length > 0">Kết quả tìm kiếm cho <span style="font-weight: bold; font-style: italic;">"{{searchText}}"</span></h1>
    <h1 class="title" ng-show="!(searchText.length > 0)"><i>Xin lỗi! Kết quả tìm kiếm không tồn tại</i></h1>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 DLTrongNuoc" ng-controller="showSearchController">
    <p class="TieuDe" ng-show="products.length > 0">Có {{products.length}} tour</p>
    <p class="TieuDe">---------------- <span class="fa fa-car"></span> ----------------</p>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 DuLich">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 DiaDiem" ng-repeat="(index, value) in products">
            <div class="Khung">
                <img class="img-responsive anh" src="{{value.image}}" />
                <div class="a">
                    <div class="b">
                        <a href="/tour/{{value.alias}}-{{value.idProduct}}" class="Ten">{{value.title}}</a>
                    </div>
                    <div class="ThoiGian">
                        <div class="pull-left">
                            <span class="fa fa-calendar Lich"></span> {{value.dateNumber}} ngày {{value.nightNumber}} đêm
                        </div>
                        <div class="pull-right text-center">
                            <span class="fa fa-car PhuongTien"></span><br />
                        </div>
                    </div>
                    <p class="GioiThieu" ng-bind-html="value.description"></p>
                    <p class="DonGia">Đơn giá: {{value.price | number:0}}<sup>vnđ</sup></p>
                    <a href="/tour/{{value.alias}}-{{value.idProduct}}" class="ChiTiet">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Visa_ThueXe" ng-controller="showSearchController">
    <p class="TieuDe" ng-show="posts.length > 0">Có {{posts.length}} bài viết</p>
    <p class="TieuDe">---------------- <span class="fa fa-car"></span> ----------------</p>
    <div ng-repeat="(index, value) in posts">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item">
            <img class="img-responsive anh" src="{{value.image}}" />
            <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="TieuDe">{{value.title}}</a>
            <div class="GioiThieu">
                {{value.description | limitTo: 100}}{{value.description.length > 100 ? '&hellip;' : ''}}
            </div>
        </div>
    </div>
</div>