
<div ng-controller="menuCategoryPostController">
    <div class="container-fluid">
        <div class="menu-category-post">
            <h4 class="title"><a href="/danh-muc-bai-viet">Danh mục bài viết</a></h4>
            <ul class="list">
                <li ng-repeat="(index, value) in categories"><a href="/danh-muc-bai-viet/{{value.alias}}-{{value.idCategory}}" title="{{value.title}}">{{value.title}}</a></li>
            </ul>

            <div class="relate-post-feature" ng-repeat="(index, value) in posts" ng-show="index < 3">
                <a title="{{value.title}}" href="/bai-viet/{{value.alias}}-{{value.idPost}}"><img src="{{value.image}}" alt="{{value.title}}" title="{{value.title}}" class="img-responsive" /></a>
                <p class="title-child"><a href="/bai-viet/{{value.alias}}-{{value.idPost}}" title="{{value.title}}">{{value.title}}</a></p>
                <div class="description-child">{{value.description}}</div>
            </div>
        </div>
    </div>
</div>