
@{
    ViewBag.Title = "Thêm tour";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div ng-app="myApp">
    <div ng-controller="themProductController">
        <input type="hidden" value="@WebSecurity.CurrentUserName" id="user" />
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-success" ng-click="saveProduct()"><span class="fa fa-edit"></span> Lưu</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-info" ng-click="saveProductAndExit()"><span class="fa fa-check-square-o"></span> Lưu & Thoát</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-info" ng-click="saveProductAndNew()"><span class="fa fa-plus"></span> Lưu & Thêm mới</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-danger" ng-click="cancel()"><span class="fa fa-remove"></span> Hủy bỏ</button>
            </div>
        </div>
        <hr class="ruler-lg" />

        <div class="card">
            <div class="card-body">
                <form class="form" role="form">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group  " ng-class="{'has-error':!product.title, 'has-success':product.title}">
                                <input type="text" class="form-control" id="title" name="title" ng-model="product.title" ng-change="changeTitle()">
                                <label for="title">Tiêu đề *</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="alias" ng-model="product.alias" name="alias" readonly>
                                <label for="alias">Alias</label>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="card-body tab-content">
                        <!--Nội dung-->
                        <div class="tab-pane active" id="noidung">
                            <div class="col-md-9">
                                Mô tả Tour
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.content" name="content"></textarea>
                                <br />
                                Giới thiệu tour
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.description" name="description"></textarea>
                            </div>


                            <div class="col-md-3">
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="timeStart" name="timeStart" ng-model="product.timeStart" />
                                        <label for="timeStart">Ngày khởi hành</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="dateNumber" name="dateNumber" ng-model="product.dateNumber" />
                                        <label for="dateNumber">Ngày</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="nightNumber" name="nightNumber" ng-model="product.nightNumber" />
                                        <label for="nightNumber">Đêm</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="price" name="price" ng-model="product.price" />
                                        <label for="price">Giá</label>
                                    </div>
                                    <div class="form-group ">
                                        <select id="status" name="published" class="form-control" ng-model="product.vehicle">
                                            <option value="0" ng-selected="product.vehicle == 0">Ô tô</option>
                                            <option value="1" ng-selected="product.vehicle == 1">Máy bay</option>
                                            <option value="2" ng-selected="product.vehicle == 2">Tàu thủy</option>
                                        </select>
                                        <label for="status">Phương tiện</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="guestNumber" name="guestNumber" ng-model="product.guestNumber" />
                                        <label for="guestNumber">Số người</label>
                                    </div>
                                    <div class="form-group ">
                                        <select id="category" name="category"
                                                ng-model="category"
                                                ng-options="category.name for category in categories track by category.id"
                                                class="form-control"></select>
                                        <label for="category">Danh mục</label>
                                    </div>
                                    <div class="form-group ">
                                        <select id="status" name="published" class="form-control" ng-model="product.published">
                                            <option value="1" ng-selected="product.published == 1">Xuất bản</option>
                                            <option value="0" ng-selected="product.published == 0">Không xuất bản</option>
                                        </select>
                                        <label for="status">Trạng thái</label>
                                    </div>
                                    <div class="form-group ">
                                        <select id="feature" name="feature" class="form-control" ng-model="product.feature">
                                            <option value="1" ng-selected="product.feature == '1'">Có</option>
                                            <option value="0" ng-selected="product.feature == '0'">Không</option>
                                        </select>
                                        <label for="feature">Nổi bật</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="image" id="image" ng-model="product.image" class="form-control" /> <button class="btn btn-primary" ng-click="chooseImage()">Chọn ảnh</button>
                                        <label for="image">Hình ảnh</label>
                                        <img class="img-responsive" src="{{product.image}}" ng-show="product.image" />
                                    </div>
                                    <div class="form-group ">
                                        <textarea name="note" id="note" class="form-control" rows="3" placeholder="" ng-model="product.note"></textarea>
                                        <label for="note">Mô tả</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="tags" name="tags" ng-model="product.tags" />
                                        <label for="tags">Tags</label>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <!--Xuất bản-->
                        <div class="tab-pane" id="xuatban">
                            <form class="form" role="form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user fa-lg"></span></span>
                                            <div class="input-group-content">
                                                <input type="text" class="form-control" id="idUserCreated" ng-model="product.idUserCreated" name="idUserCreated" readonly>
                                                <label for="idUserCreated">Người tạo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar fa-lg"></span></span>
                                            <div class="input-group-content">
                                                <input type="text" class="form-control" id="timeCreated" ng-model="product.timeCreated | date:'HH:mm:ss dd-MM-yyyy'" name="timeCreated" readonly>
                                                <label for="timeCreated">Ngày tạo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user fa-lg"></span></span>
                                            <div class="input-group-content">
                                                <input type="text" class="form-control" id="idUserModified" ng-model="product.idUserModified" name="idUserModified" readonly>
                                                <label for="idUserModified">Người sửa</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar fa-lg"></span></span>
                                            <div class="input-group-content">
                                                <input type="text" class="form-control" id="timeModified" ng-model="product.timeModified | date:'HH:mm:ss dd-MM-yyyy'" name="timeModified" readonly>
                                                <label for="timeModified">Ngày sửa</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <textarea name="metadescription" id="metadescription" class="form-control" rows="3" placeholder="" ng-model="product.metadescription"></textarea>
                                        <label for="metadescription">Thẻ mô tả</label>
                                    </div>
                                    <div class="form-group ">
                                        <textarea name="metakewords" id="metakewords" class="form-control" rows="3" placeholder="" ng-model="product.metakewords"></textarea>
                                        <label for="metakewords">Thẻ từ khóa</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="" id="author" class="form-control" name="author" ng-model="product.author" />
                                        <label for="author">Tác giả</label>
                                    </div>
                                    <div class="form-group">
                                        <select id="robots" name="robots" class="form-control" ng-model="product.robots">
                                            <option value="Index, Follow" ng-selected="product.robots == 'Index, Follow'">Index, Follow</option>
                                            <option value="No index, Follow" ng-selected="product.robots == 'No index, Follow'">No index, Follow</option>
                                            <option value="Index, No follow" ng-selected="product.robots == 'Index, No follow'">Index, No follow</option>
                                            <option value="No index, No follow" ng-selected="product.robots == 'No index, No follow'">No index, No follow</option>
                                        </select>
                                        <label for="robots">Robots</label>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <!--0W-20-->
                        <div class="tab-pane" id="0W-20">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra0w20_specification" name="gra0w20_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra0w20_technical" name="gra0w20_technical"></textarea>
                            </div>
                        </div>
                        <!--0W-30-->
                        <div class="tab-pane" id="0W-30">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra0w30_specification" name="gra0w30_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra0w30_technical" name="gra0w30_technical"></textarea>
                            </div>
                        </div>
                        <!--0W-40-->
                        <div class="tab-pane" id="0W-40">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra0w40_specification" name="gra0w40_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra0w40_technical" name="gra0w40_technical"></textarea>
                            </div>
                        </div>
                        <!--0W-50-->
                        <div class="tab-pane" id="0W-50">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra0w50_specification" name="gra0w50_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra0w50_technical" name="gra0w50_technical"></textarea>
                            </div>
                        </div>

                        <!--5W-20-->
                        <div class="tab-pane" id="5W-20">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra5w20_specification" name="gra5w20_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra5w20_technical" name="gra5w20_technical"></textarea>
                            </div>
                        </div>
                        <!--5W-30-->
                        <div class="tab-pane" id="5W-30">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra5w30_specification" name="gra5w30_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra5w30_technical" name="gra5w30_technical"></textarea>
                            </div>
                        </div>
                        <!--5W-40-->
                        <div class="tab-pane" id="5W-40">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra5w40_specification" name="gra5w40_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra5w40_technical" name="gra5w40_technical"></textarea>
                            </div>
                        </div>
                        <!--5W-50-->
                        <div class="tab-pane" id="5W-50">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra5w50_specification" name="gra5w50_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra5w50_technical" name="gra5w50_technical"></textarea>
                            </div>
                        </div>

                        <!--10W-30-->
                        <div class="tab-pane" id="10W-30">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra10w30_specification" name="gra10w30_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra10w30_technical" name="gra10w30_technical"></textarea>
                            </div>
                        </div>
                        <!--10W-40-->
                        <div class="tab-pane" id="10W-40">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra10w40_specification" name="gra10w40_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra10w40_technical" name="gra10w40_technical"></textarea>
                            </div>
                        </div>

                        <!--15W-40-->
                        <div class="tab-pane" id="15W-40">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra15w40_specification" name="gra15w40_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra15w40_technical" name="gra15w40_technical"></textarea>
                            </div>
                        </div>
                        <!--15W-50-->
                        <div class="tab-pane" id="15W-50">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra15w50_specification" name="gra15w50_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra15w50_technical" name="gra15w50_technical"></textarea>
                            </div>
                        </div>

                        <!--20W-50-->
                        <div class="tab-pane" id="20W-50">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra20w50_specification" name="gra20w50_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra20w50_technical" name="gra20w50_technical"></textarea>
                            </div>
                        </div>

                        <!--75W-90-->
                        <div class="tab-pane" id="75W-90">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra75w90_specification" name="gra75w90_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra75w90_technical" name="gra75w90_technical"></textarea>
                            </div>
                        </div>
                        <!--75W-140-->
                        <div class="tab-pane" id="75W-140">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra75w140_specification" name="gra75w140_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra75w140_technical" name="gra75w140_technical"></textarea>
                            </div>
                        </div>

                        <!--80W-90-->
                        <div class="tab-pane" id="80W-90">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra80w90_specification" name="gra80w90_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra80w90_technical" name="gra80w90_technical"></textarea>
                            </div>
                        </div>

                        <!--85W-140-->
                        <div class="tab-pane" id="85W-140">
                            <div class="col-md-6">
                                Đặc điểm kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra85w140_specification" name="gra85w140_specification"></textarea>
                            </div>
                            <div class="col-md-6">
                                Chi tiết kỹ thuật
                                <textarea id="ckeditor" data-ck-editor class="form-control control-12-rows" ng-model="product.gra85w140_technical" name="gra85w140_technical"></textarea>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>


    </div>

</div>




