/*Cảnh đẹp chung*/
.Main > .CanhDepMienBac {
    margin-top: 2em;
}

    .Main > .CanhDepMienBac > .TieuDe {
        color: #ff0000;
        text-align: left;
        border-bottom: solid 1px #ff0000;
        margin: 0 0.5em;
        font-size: 2em;
    }

    .Main > .CanhDepMienBac > .DiaDiem {
        padding: 1em;
    }

        .Main > .CanhDepMienBac > .DiaDiem > .Khung {
            border: solid 1px #b1afaf;
            text-align: left;
        }

            .Main > .CanhDepMienBac > .DiaDiem > .Khung > .anh {
            }

            .Main > .CanhDepMienBac > .DiaDiem > .Khung > .TieuDe {
                font-size: 1.5em;
                font-weight: bold;
                color: #0078ff;
                padding-left: 5px;
            }

            .Main > .CanhDepMienBac > .DiaDiem > .Khung > .GioiThieu {
                padding-left: 5px;
                display:inline;
            }

            .Main > .CanhDepMienBac > .DiaDiem > .Khung > .GioiThieu>p{
                display:inline;
                padding-left: 5px;
            }

            .Main > .CanhDepMienBac > .DiaDiem > .Khung > .XemTiep {
                color: #ff0000;
                display: inline;
            }

                .Main > .CanhDepMienBac > .DiaDiem > .Khung > .XemTiep:hover {
                }

/*Các tour du lich strong nước*/
.Main > .AllDLTrongNuoc {
}

    .Main > .AllDLTrongNuoc > .TieuDe {
        color: #ff0000;
        margin: 0;
        font-size: 2em;
    }

    .Main > .AllDLTrongNuoc > .HangLe {
        margin-bottom: 1.5em;
    }

        .Main > .AllDLTrongNuoc > .HangLe > .left {
            width: 30%;
            float: left;
        }

            .Main > .AllDLTrongNuoc > .HangLe > .left > img {
            }

        .Main > .AllDLTrongNuoc > .HangLe > .right {
            width: 70%;
            float: right;
            text-align: left;
            padding-left: 10px;
        }

            .Main > .AllDLTrongNuoc > .HangLe > .right > .TieuDe {
                color: #2400ff;
                font-size: 1.5em;
            }

                .Main > .AllDLTrongNuoc > .HangLe > .right > .TieuDe:hover {
                    text-decoration: none;
                    color: #ff0000;
                }

            .Main > .AllDLTrongNuoc > .HangLe > .right > .GioiThieu {
                color: #515154;
                font-size: 1.3em;
            }

            .Main > .AllDLTrongNuoc > .HangLe > .right > .XemThem {
                position: absolute;
                overflow: hidden;
                bottom: 2%;
                border: 0;
                background-color: #1aad1d;
                color: #fff;
                font-size: 1.1em;
                font-weight: bold;
                padding: 0.5em 2em;
                border-radius: 5px;
            }

                .Main > .AllDLTrongNuoc > .HangLe > .right > .XemThem:hover {
                    text-decoration: none;
                    background-color: #ff0000;
                }

    .Main > .AllDLTrongNuoc > .HangChan {
        margin-bottom: 1.5em;
    }

        .Main > .AllDLTrongNuoc > .HangChan > .left {
            width: 70%;
            float: left;
            text-align: left;
            padding-right: 10px;
        }

            .Main > .AllDLTrongNuoc > .HangChan > .left > .TieuDe {
                color: #2400ff;
                font-size: 1.5em;
            }

                .Main > .AllDLTrongNuoc > .HangChan > .left > .TieuDe:hover {
                    text-decoration: none;
                    color: #ff0000;
                }

            .Main > .AllDLTrongNuoc > .HangChan > .left > .GioiThieu {
                color: #515154;
                font-size: 1.3em;
            }

            .Main > .AllDLTrongNuoc > .HangChan > .left > .XemThem {
                position: absolute;
                overflow: hidden;
                bottom: 2%;
                border: 0;
                background-color: #1aad1d;
                color: #fff;
                font-size: 1.1em;
                font-weight: bold;
                padding: 0.5em 2em;
                border-radius: 5px;
            }

                .Main > .AllDLTrongNuoc > .HangChan > .left > .XemThem:hover {
                    text-decoration: none;
                    background-color: #ff0000;
                }

        .Main > .AllDLTrongNuoc > .HangChan > .right {
            width: 30%;
            float: right;
        }

            .Main > .AllDLTrongNuoc > .HangChan > .right > img {
            }

.Main > .TomTat {
    text-align: left;
}

    .Main > .TomTat > .left {
        width: 30%;
        float: left;
    }

        .Main > .TomTat > .left > img {
        }

    .Main > .TomTat > .right {
        float: right;
        width: 70%;
        padding-left: 1em;
    }

        .Main > .TomTat > .right > .TieuDe {
            color: #ff0000;
            border-bottom: solid 1px #ff0000;
            font-size: 2em;
        }

        .Main > .TomTat > .right > .HanhTrinh {
            font-size: 1.3em;
        }

            .Main > .TomTat > .right > .HanhTrinh > span {
                color: #007eff;
                font-weight: bold;
            }

        .Main > .TomTat > .right > .DonGia {
            color: #ff0000;
            font-size: 1.3em;
        }

            .Main > .TomTat > .right > .DonGia > span {
                font-weight: bold;
            }

        .Main > .TomTat > .right > .GioiThieu {
            font-size: 1.3em;
            height: 5em;
        }

        .Main > .TomTat > .right > .btnDangKy {
            background-color: #109917;
            color: #fff;
            padding: 0.2em 1.5em;
            border: 0;
            border-radius: 5px;
            font-size: 1.3em;
            font-weight: bold;
            position: absolute;
            overflow: hidden;
            bottom: 0%;
        }

            .Main > .TomTat > .right > .btnDangKy:hover {
                background-color: #ff0000;
                text-decoration: none;
            }

.Main > .ChiTiet {
    text-align: center;
    margin-top: 3em;
}

    .Main > .ChiTiet > .TieuDe {
        text-align: left;
        color: #ff0000;
        font-size: 2em;
    }

    .Main > .ChiTiet > .NoiDung {
        text-align: left;
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    .Main > .ChiTiet > img {
        margin-bottom: 0.5em;
    }

    .Main > .ChiTiet > .CauKet {
        text-align: center;
        color: #0084ff;
        font-size: 2em;
        font-weight: bold;
    }

    .Main > .ChiTiet > .btnDangKy {
        background-color: #109917;
        color: #fff;
        padding: 0.2em 1.5em;
        border: 0;
        border-radius: 5px;
        font-size: 1.3em;
        font-weight: bold;
    }

        .Main > .ChiTiet > .btnDangKy:hover {
            text-decoration: none;
            background-color: #ff0000;
        }

/*Mobile*/
@media (max-width: 767px) {
    /*Cảnh đẹp chung*/
    .Main > .CanhDepMienBac {
        margin-top: 1em;
    }

        .Main > .CanhDepMienBac > .TieuDe {
            font-size: 1.2em;
        }

        .Main > .CanhDepMienBac > .DiaDiem {
            padding: 1em;
        }

            .Main > .CanhDepMienBac > .DiaDiem > .Khung > .TieuDe {
                font-size: 1.2em;
            }

            .Main > .CanhDepMienBac > .DiaDiem > .Khung > .GioiThieu {
                font-size: 1em;
            }

    /*Các tour du lich strong nước*/
    .Main > .AllDLTrongNuoc > .TieuDe {
        font-size: 1.6em;
    }

    .Main > .AllDLTrongNuoc > .HangLe > .right > .TieuDe {
        font-size: 1.2em;
    }

    .Main > .AllDLTrongNuoc > .HangLe > .right > .GioiThieu {
        font-size: 0.8em;
        margin-bottom: 3em;
    }

    .Main > .AllDLTrongNuoc > .HangLe > .right > .XemThem {
        font-size: 0.8em;
    }

    .Main > .AllDLTrongNuoc > .HangChan > .left > .TieuDe {
        font-size: 1.2em;
    }

    .Main > .AllDLTrongNuoc > .HangChan > .left > .GioiThieu {
        font-size: 0.8em;
        margin-bottom: 3em;
    }

    .Main > .AllDLTrongNuoc > .HangChan > .left > .XemThem {
        font-size: 0.8em;
    }

    .Main > .TomTat > .right > .TieuDe {
        font-size: 1em;
    }

    .Main > .TomTat > .right > .HanhTrinh {
        font-size: 1em;
    }

    .Main > .TomTat > .right > .DonGia {
        font-size: 1em;
    }

    .Main > .TomTat > .right > .GioiThieu {
        font-size: 1em;
        margin-bottom: 2em;
    }

    .Main > .TomTat > .right > .btnDangKy {
        padding: 0.2em 1.5em;
        font-size: 1em;
    }

    .Main > .ChiTiet {
        margin-top: 1em;
    }

        .Main > .ChiTiet > .TieuDe {
            font-size: 1.4em;
        }

        .Main > .ChiTiet > .NoiDung {
            font-size: 1em;
        }

        .Main > .ChiTiet > img {
            margin-bottom: 0.5em;
        }

        .Main > .ChiTiet > .CauKet {
            font-size: 1.2em;
        }

        .Main > .ChiTiet > .btnDangKy {
            padding: 0.2em 1.5em;
            font-size: 1em;
        }
}

/*table*/
@media (min-width: 767px) and (max-width:992px) {
    /*Cảnh đẹp chung*/
    .Main > .CanhDepMienBac {
        margin-top: 1em;
    }

        .Main > .CanhDepMienBac > .DiaDiem {
            padding: 1em;
        }

            .Main > .CanhDepMienBac > .DiaDiem > .Khung > .TieuDe {
                font-size: 1.2em;
            }

    /*Các tour du lich strong nước*/
    .Main > .AllDLTrongNuoc > .TieuDe {
        font-size: 2.2em;
    }

    .Main > .AllDLTrongNuoc > .HangLe > .right > .GioiThieu {
        margin-bottom: 3em;
    }

    .Main > .AllDLTrongNuoc > .HangChan > .left > .GioiThieu {
        margin-bottom: 3em;
    }

    .Main > .TomTat > .right > .GioiThieu {
        margin-bottom: 3em;
    }
}

/*table xoay ngang*/
@media (max-width: 1024px) and (min-width:992px) {
    .Main > .AllDLTrongNuoc > .HangLe > .right > .GioiThieu {
        margin-bottom: 3em;
    }

    .Main > .AllDLTrongNuoc > .HangChan > .left > .GioiThieu {
        margin-bottom: 3em;
    }
}

/*Desktop*/
@media (min-width: 992px) {
}

/*Màn hình lớn*/
@media (min-width:1400px) {
    /*Cảnh đẹp chung*/
    .Main > .CanhDepMienBac {
        margin-top: 1em;
    }

        .Main > .CanhDepMienBac > .TieuDe {
            font-size: 4em;
        }

        .Main > .CanhDepMienBac > .DiaDiem > .Khung > .TieuDe {
            font-size: 3em;
        }

        .Main > .CanhDepMienBac > .DiaDiem > .Khung > .GioiThieu {
            font-size: 2.2em;
        }

    /*Các tour du lich strong nước*/
    .Main > .AllDLTrongNuoc > .TieuDe {
        font-size: 4em;
    }

    .Main > .AllDLTrongNuoc > .HangLe > .right > .TieuDe {
        font-size: 3em;
    }

    .Main > .AllDLTrongNuoc > .HangLe > .right > .GioiThieu {
        font-size: 2.5em;
        margin-bottom: 3em;
    }

    .Main > .AllDLTrongNuoc > .HangLe > .right > .XemThem {
        font-size: 2em;
    }

    .Main > .AllDLTrongNuoc > .HangChan > .left > .TieuDe {
        font-size: 3em;
    }

    .Main > .AllDLTrongNuoc > .HangChan > .left > .GioiThieu {
        font-size: 2.5em;
        margin-bottom: 3em;
    }

    .Main > .AllDLTrongNuoc > .HangChan > .left > .XemThem {
        font-size: 2em;
    }

    .Main > .TomTat > .right > .TieuDe {
        font-size: 4em;
    }

    .Main > .TomTat > .right > .HanhTrinh {
        font-size: 3em;
    }

    .Main > .TomTat > .right > .DonGia {
        font-size: 3em;
    }

    .Main > .TomTat > .right > .GioiThieu {
        font-size: 3em;
        margin-bottom: 2em;
    }

    .Main > .TomTat > .right > .btnDangKy {
        padding: 0.2em 1.5em;
        font-size: 3em;
    }

    .Main > .ChiTiet {
        margin-top: 1em;
    }

        .Main > .ChiTiet > .TieuDe {
            font-size: 3em;
        }

        .Main > .ChiTiet > .NoiDung {
            font-size: 2.2em;
        }

        .Main > .ChiTiet > img {
            margin-bottom: 0.5em;
        }

        .Main > .ChiTiet > .CauKet {
            font-size: 3em;
        }

        .Main > .ChiTiet > .btnDangKy {
            padding: 0.2em 1.5em;
            font-size: 3em;
        }
}
